!!! 5
%html

	%head
		
		%meta{ :charset => "UTF-8" }
		%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
		%meta( http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" )
		%meta{ :name => "google-site-verification", :content => "7KgHTNkMMzdgvgz_Jbb_uNkC18FuunUTvC7MxXWRVRo" }

		%title= page_title

		= stylesheet_link_tag 'site'
		= javascript_include_tag 'izrs'
		= render_partial 'analytics'
		= yield_content :head

	%body{ :class => page_class }

		= render_partial "navi"
		%section.content
			= yield

		#grid