!!! 5
%html

  %head

    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %meta( http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" )
    %meta{ name: "google-site-verification", content: "7KgHTNkMMzdgvgz_Jbb_uNkC18FuunUTvC7MxXWRVRo" }
    %link{ rel: "alternate", type: "application/rss+xml", title: data.global.title, href: "/feed.xml" }

    %title= page_title

    = stylesheet_link_tag 'site'
    = render_partial 'analytics'

    = yield_content :head

  %body{ :class => page_class }

    .wrapper
      %header.site-navi>
        %a.site-title{ :href => "/" }
          %h1 Steven Sloan
        %p You can find me on <a href="https://github.com/stevenosloan">GitHub</a> or <a href="http://twitter.com/stevenosloan">Twitter</a>

      %header.page-title>
        = yield_content :page_header

      %section.content{ role: "main" }>
        = yield