---
title: "Steven Sloan | Designer &amp; Developer in Atlanta"
---




%nav.post-list

	- blog.articles.each do |article|
		%a{ :href => "#{article.url}" }
			%article.post
				%h1= article.title
				%p= article.date.strftime('%b %e, %Y')
	
	%a{ :href => "/post" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 
	
	%a{ :href => "/post" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 
	
	%a{ :href => "/post" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 
	
	%a{ :href => "/post" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 
	
	%a{ :href => "/post" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 

	%a{ :href => "/post" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 

	%a{ :href => "/post" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 

	%a{ :href => "/post" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 