---
title: "Steven Sloan | Designer &amp; Developer in Atlanta"
---

%nav.post-list
	
	%a{ :href => "#" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 
	
	%a{ :href => "#" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 
	
	%a{ :href => "#" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 
	
	%a{ :href => "#" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 
	
	%a{ :href => "#" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 

	%a{ :href => "#" }
		%article.post
			%h1= "#{lorem.words 5}".capitalize
			%p= lorem.date 