---
title: "Steven Sloan | Designer &amp; Developer in Atlanta"
---


- content_for :page_header do
  %h1.title
    Hi. I&rsquo;m an Atlanta based Designer &amp;&nbsp;Developer
  %p.body
    Currently I fill my days working at <a href="http://mailchimp.com">MailChimp</a> building tools with Ruby and doing Front-end&nbsp;Development.



%nav.post-list

  %h2 Recent Articles:

  - blog.articles.each do |article|
    %a{ :href => "#{article.url}" }
      %article.post
        %h1= article.title
        %p= article.date.strftime('%b %e, %Y')


%nav.post-list

  %h2 Select Projects:

  - data.projects.each do |project|
    %a{ href: project.url }
      %article.post
        %h1= project.title
        %p= project.description
