---
title: "A Post | Steven Sloan"
---

%nav.post-nav
	%a{ :href => "/" } Back

%article.post
	%hgroup
		%h1.title= "#{lorem.words 5}".capitalize
		%p.body= lorem.date
	.post-content 
		:markdown

			#{lorem.paragraphs 3}

			```
			# HTML
			<div class="foo">
				<h1>A title of a section</h1>
				<p>Some text and things</p>
			</div>


			# HAML
			.foo
				%h1 A title of a section
				%p Some text and things
			```

			#{lorem.paragraphs 2}

			> #{lorem.paragraph}